<!-- <div class="dropzone" 
     dropzone
     (hovered)="toggleHover($event)"
     (dropped)="onDrop($event)"
     [class.hovering]="isHovering">





     <h3>AngularFire Drop Zone</h3>
     <p>Drag and Drop a File</p>
     <div class="file">
        <label class="file-label">




        <input class="file-input" type="file" (change)="onDrop($event.target.files)">




          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              or choose a file…
            </span>
          </span>
        </label>
      </div>
</div>

<h3>Uploads</h3> -->


<!-- 
<div *ngFor="let file of files">
  <app-upload [file]="file"></app-upload>
</div>


<div class="dropzone" 
     dropzone
     (hovered)="toggleHover($event)"
     (dropped)="onDrop($event)"
     [class.hovering]="isHovering">





     <h3>AngularFire Drop Zone</h3>
     <p>Drag and Drop a File</p>
     <div class="file">
        <label class="file-label">




        <input class="file-input" type="file" (change)="onDrop($event.target.files)">




          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              or choose a file…
            </span>
          </span>
        </label>
      </div>
</div>

<h3>Uploads</h3><div *ngFor="let file of files">
    <app-upload1q1 [file]="file"></app-upload1q1>
  </div>  -->
  <h6>Upload User Documents</h6>

  <button class="btn btn-primary-gradien btn-pill btn-air-primary" type="button" color="blue" routerLink="/dashboard/LP03Q12020"  placement="top"
  >Q12020</button>
  
  <button class="btn btn-primary-gradien btn-pill btn-air-primary" type="button" color="blue" routerLink="/dashboard/LP03Q22020"  placement="top"
  >Q22020</button>
  
  <button class="btn btn-primary-gradien btn-pill btn-air-primary" type="button" color="blue" routerLink="/dashboard/LP03Q32020"  placement="top"
  >Q32020</button>
  
  
  <button class="btn btn-primary-gradien btn-pill btn-air-primary" type="button" color="blue" routerLink="/dashboard/LP03Q42020"  placement="top"
  >Q42020</button>
  
  <button class="btn btn-primary-gradien btn-pill btn-air-primary" type="button" color="blue" routerLink="/dashboard/LP03newsletter"  placement="top"
  >Newsletter</button>