<!-- <div class="dropzone" 
     dropzone
     (hovered)="toggleHover($event)"
     (dropped)="onDrop($event)"
     [class.hovering]="isHovering">





     <h3>AngularFire Drop Zone</h3>
     <p>Drag and Drop a File</p>
     <div class="file">
        <label class="file-label">




        <input class="file-input" type="file" (change)="onDrop($event.target.files)">




          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              or choose a file…
            </span>
          </span>
        </label>
      </div>
</div>

<h3>Uploads</h3>

<div *ngFor="let file of files">
  <app-upload01Q12020 [file]="file"></app-upload01Q12020>
</div> -->

<!-- 
<div class="dropzone" 
     dropzone
     (hovered)="toggleHover($event)"
     (dropped)="onDrop($event)"
     [class.hovering]="isHovering">





     <h3>AngularFire Drop Zone</h3>
     <p>Drag and Drop a File</p>
     <div class="file">
        <label class="file-label">




        <input class="file-input" type="file" (change)="onDrop($event.target.files)">




          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              or choose a file…
            </span>
          </span>
        </label>
      </div>
</div>

<h3>Uploads</h3><div *ngFor="let file of files">
    <app-upload1q1 [file]="file"></app-upload1q1>
  </div>  -->

<!-- 
  <li class="nav-item">
    <button data="id_features" routerLink="/dashboard/LP01Q12020"  class="nav-link" >Portfolio</button>
</li>

<li class="nav-item">
  <a data="id_features" routerLink="/dashboard/LP01Q22020"  class="nav-link" >Portfolio</a>
</li>

<li class="nav-item">
  <a data="id_features" routerLink="/dashboard/LP01Q32020"  class="nav-link" >Portfolio</a>
</li>

<li class="nav-item">
  <a data="id_features" routerLink="/dashboard/LP01Q42020"  class="nav-link" >Portfolio</a>
</li>
<li class="nav-item">
  <a data="id_features" routerLink="/dashboard/LP01newsletter"  class="nav-link" >test</a>
</li> -->

<h6>Upload User Documents</h6>
<button class="btn btn-primary-gradien btn-pill btn-air-primary" type="button" color="blue" routerLink="/dashboard/LP01Q12020"  placement="top"
>Q12020</button>

<button class="btn btn-primary-gradien btn-pill btn-air-primary" type="button" color="blue" routerLink="/dashboard/LP01Q22020"  placement="top"
>Q22020</button>

<button class="btn btn-primary-gradien btn-pill btn-air-primary" type="button" color="blue" routerLink="/dashboard/LP01Q32020"  placement="top"
>Q32020</button>


<button class="btn btn-primary-gradien btn-pill btn-air-primary" type="button" color="blue" routerLink="/dashboard/LP01Q42020"  placement="top"
>Q42020</button>

<button class="btn btn-primary-gradien btn-pill btn-air-primary" type="button" color="blue" routerLink="/dashboard/LP01newsletter"  placement="top"
>Newsletter</button>